/* Que el body ocupe toda la altura */
html, body {
  height: 100%;
  margin: 0;
}

/* Footer al final */
footer {
  background-color: #1b5e20;
  color: #d4f4dc;
  text-align: center;
  padding: 10px;
}
